html {
    font-size: 10px;
    line-height: 10px;
}

body {
    // width: 1280px;
    margin: auto;
}
._lock{
    overflow: hidden;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0rem 4rem 0rem 4rem;
}

@mixin text-style ($size, $height, $fontstyle: normal, $weight: 400,) {
    font-size: $size;
    line-height: $height;
    font-style: $fontstyle;
    font-weight: $weight;
}

.fixed {
    position: sticky;
    background: white;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 3rem 0rem;

} 

.burger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2.2rem;

    div {
        background-color: #000000;
        border: 1px solid #000000;
    }
}

.header_logo {
    a {
        text-decoration: none;
    }

    h1 {
        font-family: 'Georgia';
        color: #545454;
        margin-bottom: 1rem;
        margin-top: 0rem;
        letter-spacing: 0.06em;
         @include text-style(3.2rem, 3.5rem)

    }
    p {
        font-family: 'Arial';
        color: #292929;
        margin-top: 0rem;
        margin-bottom: 0rem;
        letter-spacing: 0.11em;
        @include text-style(1.3rem, 1.5rem)

    }
}
.header_nav_menu {
    font-family: 'Arial';
    margin-top: 1.6rem;
    margin-bottom: 1.7rem;
    width: 443px;
    display: flex;
    justify-content: space-between;
    @include text-style(1.5rem, 2.4rem);
    
    .active, a:hover {
        color: #292929;
        border-bottom: 3px solid #F1CDB3;
        padding-bottom: 0.5rem;
    
    }

    & a {
        color: #545454;
        text-decoration: none;
        
    }
}

.pets {
    background: #F6F6F6;
}

.pets-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 8rem;
    padding-bottom: 10rem;
   
    h3 {
        margin: 0px auto;
        width: 400px;
        height: 90px;
        text-align: center;
        font-family: 'Georgia';
        letter-spacing: 0.06em;
        color: #545454;

        @include text-style(3.5rem, 4.5rem,)
    }
}

.pets_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5rem 0rem 1.5rem 0rem;
    margin-top: 4.5rem;
    gap: 3rem;

    .colune-4 {
        display: flex;
        justify-content: space-around;
        gap: 4rem;
    }
}
.buttons {
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-between;
    // width: 340px;
    gap: 2rem;
    height: 52px;


    .button-activ:hover{
        background: #F1CDB3;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;

        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        background-color: transparent;
        font-family: 'Georgia';
        letter-spacing: 0.06em;
        color: #292929;
        @include text-style(2rem, 2.3rem,);
    }
    .active {
        background: #F1CDB3;
    }
    .buttons-no-activ{
        border: 2px solid #CDCDCD;
        color: #CDCDCD;
    }
}

.pet_card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pets-name {
        margin-top: 3rem;
        margin-bottom: 0rem;
        font-family: 'Georgia';
        letter-spacing: 0.06em;
        color: #545454;
        @include text-style(2.0rem, 2.3rem)
    
    }   
    .pets-button {
        width: 187px;
        height: 52px;
        margin-top: 3rem;

        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 10rem;
        background-color: #FAFAFA;
     

        font-family: 'Georgia';
        letter-spacing: 0.06em;
        @include text-style(1.7rem, 2.2rem)

    }

    &:hover {
        cursor: pointer;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

        .pets-button {
            background-color: #F1CDB3;
            cursor: pointer;
        }
    }
} 


.footer {
    background: url(../../assets/images/start-screen-gradient-background.jpg);
    background-repeat: round;
}

.footer-content {
    // height: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem 0rem 0rem 0rem;

    h3 {
        font-family: 'Georgia';
        letter-spacing: 0.05em;
        color: #FFFFFF;
        margin: 0px;
        @include text-style(3.5rem, 4.5rem)
    }

    h4 {
        font-family: 'Georgia';
        margin: 0px;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        @include text-style(2.0rem, 2.3rem)
    }
}

.contacts {
    width: 278px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.6rem;
    margin-bottom: 6.0rem;
    
    a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

     img {
        padding-right: 2.0rem;
    }   
}

.location {
    width: 302px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.6rem;
    margin-bottom: 6.0rem;

    a {
        text-decoration: none;
    }

    img {
        padding-right: 2.0rem;
    }

    div {
        display: flex;
        align-items: center;
    }

}



@media screen and (max-width: 1100px) and (min-width: 321px){

    .wrapper {
        padding: 0rem 3rem;
    }

    .pets-content{
        padding-bottom: 7rem;
    }
    .pets_card {
        padding: 0rem;   
        margin-top: 3rem;
    }
    .colune-4:nth-child(4){

        display: none;
    }
    .footer-content {
        justify-content: space-around;
        padding-top: 2rem;
    }
}


@media screen and (max-width: 700px){
    .wrapper{
        padding: 0rem 1rem;
    }
    .header {
        padding: 3rem 4.3rem 3rem 0rem;

        .header_nav_menu{
            background: white;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // left: 0;
            right: -100%;
            margin: 0;
            padding: 0;
            top: 0%;
            width: 100%;
            height: 100%;
            gap: 4rem;
            font-size: 3.2rem;
            line-height: 5.1rem;
            z-index: -99;
            transition: all 0.5s ease 0s;

            &.active_nav {
                right: 0%;
           }
            
        }
    }
    .burger{
        display: flex;
        z-index: 100;
        transition: all 0.3s ease 0s;
        cursor: pointer;

        &.burger_act{
            transform: rotate(-90deg);
        }
    }
    .hidden{
        display: none !important;
    } 

    .pets-content{
        padding: 4.2rem 0rem;
        flex-direction: column;
        justify-content: center;

        .buttons{
            gap: 1rem;
            margin-top: 4.2rem;
        }

        h3{
            width: 100%;
            height: 100%;
            margin: 0rem;
            font-size: 2.5rem;
            line-height: 3.2rem;
        }

        .pets_card{
            margin: 0rem;
            padding: 0rem;
            padding-top: 4.2rem;
            gap: 3rem;
            flex-wrap: wrap;
            flex-direction: column;

            .colune-4{
                gap: 3rem;
                flex-direction: column;
            }
        }
    }

    .burger{
        display: flex;
    }

    .footer-content{
        padding: 3rem 0rem 0rem 0rem;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        

        .footer-dog{
            padding-top: 4rem;
            img{
                width: 260px;
                height: 269px;
            }
        }

        h3{
            padding: 0rem 1.1rem;
            font-size: 2.5rem;
            line-height: 3.2rem;
        }

        .contacts {
            // width: 100%;
            height: 100%;
            align-items: center;
            margin: 0rem;
            gap: 4rem;
        }

        .location{ 
            padding: 4rem 0rem 0rem 0rem;
            // width: 100%;
            height: 100%;
            
            margin: 0rem;
            gap: 4rem;

            h3{
                padding: 0rem 1.5rem;
            }

            h4{
                text-align: left;

            }
        }
    }
 }