html {
  font-size: 10px;
  line-height: 10px;
}

body {
  margin: auto;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.section-start {
  background-image: url(../../assets/images/start-screen-gradient-background.jpg);
  background-repeat: round;
}

.header {
  padding: 60px 0px 0px 0px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo a {
  text-decoration: none;
}

.header__logo h1 {
  font-family: 'Georgia';
  color: #F1CDB3;
  margin-bottom: 10px;
  margin-top: 0px;
  letter-spacing: 0.06em;
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-style: normal;
  font-weight: 400;
}

.header__logo p {
  font-family: 'Arial';
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.12em;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-style: normal;
  font-weight: 400;
}

.header__navigation-menu {
  width: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Arial';
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-style: normal;
  font-weight: 400;
}

.header__navigation-menu .active, .header__navigation-menu a:hover {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 2px;
}

.header__navigation-menu a {
  color: #CDCDCD;
  text-decoration: none;
}

.start-screen {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.start-screen .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
  height: 322px;
  margin-bottom: 20px;
}

.start-screen .content h2 {
  font-family: 'Georgia';
  color: #FFFFFF;
  width: 310px;
  margin: 0px;
  font-size: 4.4rem;
  line-height: 5.7rem;
  font-style: normal;
  font-weight: 400;
}

.start-screen .content p {
  text-align: justify;
  font-family: 'Arial';
  color: #CDCDCD;
  width: 460px;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-style: normal;
  font-weight: 400;
}

.start-screen .img_puppy {
  width: 698px;
  height: 728px;
  margin: 60px 0px 0px 42px;
}

.button_content {
  width: 207px;
  height: 52px;
}

.button_content button {
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border: transparent;
  color: #292929;
  letter-spacing: 0.06em;
  font-family: 'Georgia';
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-style: normal;
  font-weight: 400;
}

.button_content button:hover {
  cursor: pointer;
  background: #FDDCC4;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 40px 100px 40px;
  margin: auto;
}

.about__content .about__content__text {
  width: 430px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 14px 0px;
}

.about__content .about__content__text h3 {
  margin: 0px;
  font-family: 'Georgia';
  color: #545454;
  letter-spacing: 0.05em;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-style: normal;
  font-weight: 400;
}

.about__content .about__content__text p {
  margin: 0px;
  font-family: 'Arial';
  color: #4C4C4C;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-style: normal;
  font-weight: 400;
}

.pets {
  background: #F6F6F6;
}

.pet_slider {
  margin: 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pet_slider .button_slider {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: transparent;
}

.pet_slider .button_slider:hover {
  background: #FDDCC4;
}

.pet_card {
  width: 270px;
  height: 435px;
  margin: 0px 30px;
  background: #FAFAFA;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pet_card .pets-name {
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  color: #545454;
  font-size: 2rem;
  line-height: 2.3rem;
  font-style: normal;
  font-weight: 400;
}

.pet_card .pets-button {
  width: 187px;
  height: 52px;
  margin-top: 30px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background-color: #FAFAFA;
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-style: normal;
  font-weight: 400;
}

.pet_card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pet_card:hover .pets-button {
  background-color: #F1CDB3;
  cursor: pointer;
}

.pet-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 697px;
  padding: 80px 0px 100px 0px;
}

.pet-content h3 {
  margin: 0px;
  font-family: 'Georgia';
  text-align: center;
  color: #545454;
  letter-spacing: 0.06em;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-style: normal;
  font-weight: 400;
}

.pet-content_button {
  display: inline-block;
  text-align: center;
}

.pet-content_button button {
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border: transparent;
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  color: #292929;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-style: normal;
  font-weight: 400;
}

.pet-content_button button:hover {
  cursor: pointer;
  background: #FDDCC4;
}

.help-content {
  height: 431px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0px 100px 0px;
}

.help-content h3 {
  display: block;
  margin: 0px;
  width: 308px;
  text-align: center;
  font-family: 'Georgia';
  color: #545454;
  letter-spacing: 0.05em;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-style: normal;
  font-weight: 400;
}

.help-content_nav {
  width: 1026px;
  height: 281px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.help-content_nav .pet-help-icons {
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 60px;
  margin-bottom: 55px;
}

.help-content_nav .pet-help-icons p {
  font-family: 'Georgia';
  color: #545454;
  margin-top: 30px;
  margin-bottom: 0px;
  letter-spacing: 0.05em;
  font-size: 2rem;
  line-height: 2.3rem;
  font-style: normal;
  font-weight: 400;
}

.help-content_nav .pet-help-icons img {
  width: 60px;
  height: 60px;
}

.help-content_nav .pet-help-icons:first-child {
  margin-left: 0px;
}

.help-content_nav .pet-help-icons:nth-child(5) {
  margin-right: 0px;
}

.help-content_nav .pet-help-icons:nth-child(6) {
  margin-left: 84px;
}

.help-content_nav .pet-help-icons:nth-child(9) {
  margin-right: 84px;
}

.donats {
  background: #F6F6F6;
}

.donats .donats-content {
  width: 915px;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0px 100px 0px;
  margin: auto;
}

.donats .donat-content-pay {
  width: 380px;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}

.donats .donat-content-pay h3 {
  font-family: 'Georgia';
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0px;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-style: normal;
  font-weight: 400;
}

.donats .donat-content-pay h5 {
  font-family: 'Georgia';
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0px;
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-style: normal;
  font-weight: 400;
}

.donats .donat-content-pay p {
  font-family: 'Arial';
  font-style: italic;
  color: #B2B2B2;
  margin: 0px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-style: italic;
  font-weight: 400;
}

.donats .donat_number {
  width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.donats .donat_number div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.donats .donat_number div img {
  padding: 10px 15px;
}

.donats .donat_number div h4 {
  font-family: 'Georgia';
  color: #545454;
  letter-spacing: 0.06em;
  font-size: 2rem;
  line-height: 2.3rem;
  font-style: normal;
  font-weight: 400;
}

.footer {
  background: url(../../assets/images/footer-background.jpg);
  background-repeat: round;
}

.footer-content {
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.footer-content h3 {
  font-family: 'Georgia';
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin: 0px;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-style: normal;
  font-weight: 400;
}

.footer-content h4 {
  font-family: 'Georgia';
  font-style: normal;
  line-height: 115%;
  margin: 0px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  font-size: 2rem;
  line-height: 2.3rem;
  font-style: normal;
  font-weight: 400;
}

.contacts {
  width: 278px;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 60px;
}

.contacts a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts img {
  padding-right: 20px;
}

.location {
  width: 302px;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 60px;
}

.location a {
  text-decoration: none;
}

.location img {
  padding-right: 20px;
}

.location div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main_style.css.map */